@{
    Page.Title = "About";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title</h1>
                <h2>HireMe</h2>
            </hgroup>
        </div>
    </section>
}

<article>
    <p>
        This site is for JCCC students and alumni.
    </p>
</article>

<aside>
    <h3>Links</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>