@{
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Feel free to contact any one of our team members!</h2>
</hgroup>

<!--<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>-->

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Kenyarda:</span>
        <span><a href="mailto:kthoma69@stumail.jccc.edu">kthoma69@stumail.jccc.edu</a></span>
    </p>
    <p>
        <span class="label">Wayne:</span>
        <span><a href="mailto:wrobert8@stumail.jccc.edu">wrobert8@stumail.jccc.edu</a></span>
    </p>
    <p>
        <span class="label">Keith:</span>
        <span><a href="mailto:klaws1@stumail.jccc.edu">klaws1@stumail.jccc.edu</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        12345 College Blvd<br />
        Overland Park, KS 66210
    </p>
</section>