@{
    Page.Title = "Welcome!";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
            <h2>Select a link to get started</h2>
        </hgroup>
        <p>
           Job-Shadowing   Internships   Part-Time   Full-Time
        </p>
    </div>
</section>
}

<!--<h3>School Information:</h3>

<ol class="round">
    <li class="one">
        <p>JCCC Career Center Link</p>
        <p>Info</p>
        <p> Maybe some Graphics</p>
        <br />
    </li>

    <li class="two">
        <p>JCCC Internship Link<
        <p>Info</p>
        <p> Maybe some Graphics</p>
        <br />
    </li>

    <li class="three">
        <p>JCCC Job Shadow Link</p>
        <p>Info</p>
        <p> Maybe some Graphics</p>
        <br />
    </li>
</ol>-->

<aside>
    <h3>Links</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>